body {
    background-color: gray;
    margin: 0 auto;
}
.circle {
    border-radius: 50%;
    width: 20%;
    max-width: 600px;
    border: 8px solid rgb(71, 71, 71);
    margin: 3%;
}
.circle-row {
    text-align: center;
}
.hero-img {
    width: 100%;
}