body{
    background-color: black;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: Cambria, serif;
}
.card{
    margin: 0 auto;
    background-color: white;
}
.headerimage{
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}
.awesomearticle{
    padding: 5% 10% 5% 10%;
    text-align: center;
    color: gray;
}
h1{
    padding: 0% 10%;
    text-align: center;
}
h3{
    padding: 8% 10% 0% 10%;
    text-align: center;
    color: #2a4763;
    font-size: 0.75em;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a4763;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.25em;
    line-height: 0.75;
}
.footer-column {
    flex: 1;
    padding: 0 10px;
    text-align: center;
    box-sizing: border-box;
}
.footer-column:not(:last-child) {
    border-right: 1px solid gray;
}
.footer-column span.small-text {
    font-size: 0.5em;
}
